# OAuth & Secrets 
credentials*.json
token*.json
.env

# Allow safe JSON files
!download_index.json
!app/templates/*.json

# System & OS files
.DS_Store
Thumbs.db

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
ENV/

# Large local data / SDKs
downloads/
iiitd-resources/
google-cloud-sdk/

# Docker & deploy
Dockerfile
Procfile
requirements.txt

# Logs
*.log
