# OAuth secrets & Tokens 
*.json
!download_index.json
!app/templates/*.json

.env
token.json
credentials*

# System & OS files
.DS_Store
Thumbs.db

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/

# Large local data/SDKs
downloads/
iiitd-resources/
google-cloud-sdk/

# Logs
*.log